.homeLabel {
    -fx-font-size: 30px;
    -fx-text-fill: red;
    -fx-effect: dropshadow(three-pass-box , red, 30, 0.4 , 0 , 0 );
}

.homeLabel:hover {
    -fx-cursor: hand;
}

.title {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.navigationButton {
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
}

.scanButton {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-font-style: italic;
    -fx-text-fill: red;
}

.lblRFID {

}

.lblStatus {
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
    -fx-font-style: italic;
    -fx-text-fill: red;

}

.lblServerReturn {

}
