*.class
*.bak
# Package Files 
*.jar
*.war
*.ear

# Maven Build
target/

# Eclipse directories
bin/
.settings
.classpath
.project

#forge file
.forge_settings

manifest.mf
build.xml
/client-module/nbproject/private/
/client-module/dist/
/client-module/build/
