*.class

# Package Files 
*.jar
*.war
*.ear

# Maven Build
target/

# Eclipse directories
bin/
.settings
.classpath
.project

#forge file
.forge_settings


/client-module/nbproject/private/
/client-module/dist/
/client-module/build/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
